#content{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

canvas{
	box-shadow: 0 -10px 50px 0 rgba(0, 0, 0, 0.3), 0 10px 50px 0 rgba(0, 0, 0, 0.3);
}

body{
	display:block;
}

h1{
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	font-size: 300%;
	font-family:"Century Gothic", "Times New Roman";
	text-shadow:2px 2px 3px black;
}

h3{
	font-size:200%;
	text-align: center;
	font-family:"Century Gothic", "Times New Roman";
	/*text-shadow:2px 2px 5px black;*/
}

footer{
	color:black;
	padding-top: 2em;
	padding-bottom: 5em;
	font-size: 95%;
	font-family:Century Gothic;
	text-align: center;
	margin-left:30%;
	margin-right:30%;
}

html{
	background-color: rgb(255);
	/*background-attachment: fixed;
	background-image: url("white wood 1.jpg");
	background-repeat: repeat;*/
	/*text-shadow:2px 2px 10px black;*/
	color:white;
}

a:link{
	color: rgb(51, 153, 102);
}

a:hover{
	color:rgb(121, 210, 166);
}

a:visited{
	color: gray;
}